menu "MusicPuck Settings"

    config AFK_MS_BEFORE_BACKGROUND
        int "Time before background splashscreen(ms)"
        default 20000
        help
            Measured in milliseconds, must not be negative.

    config BACKGROUND_CHANGE_PERIOD
        int "Time between background changes(ms)"
        default 30000
        help
            Measured in milliseconds, must not be negative

endmenu